docker.enabled = false
singularity.enabled = false
apptainer.enabled = false
conda.enabled = true


// Mantemos o PATH para o Nextflow achar o ativador do conda
env {
    PATH = "/home/lshlt19/miniforge3/bin:\$PATH"
}

process {
    executor = 'slurm'
    
    // nextflow.config

// Configurações do seu Miniforge para não dependermos do HPC
conda.enabled = true
env { PATH = "/home/lshlt19/miniforge3/bin:\$PATH" }

process {
    executor = 'slurm'
    
    // --- FILA DE GPU ---
    withName: 'RUN_DORADO' {
        queue = 'gpu'
        // Comando nativo do SLURM para alocar 1 placa de vídeo NVIDIA
        clusterOptions = '--gres=gpu:1' 
        cpus = 8
        memory = '32 GB'
        time = '6h'
    }

    // --- FILAS DE CPU (Padrão: 20 Nós) ---
    withName: 'RUN_NEXUS|RUN_FLYE|RUN_SHASTA|RUN_HIFIASM' {
        queue = 'normal'
        cpus = 16
        memory = '64 GB'
        time = '4h'
    }
    
    withName: 'RUN_CANU' {
        queue = 'normal'
        cpus = 16
        memory = '64 GB'
        time = '12h' // Canu é famoso por ser extremamente lento, damos mais tempo
    }
    
        withName: 'RUN_UNICYCLER' {
        conda = '/home/lshlt19/miniforge3/envs/nf-unicycler'
        cpus = 8
        memory = '32 GB'
        time = '1h'
    }

    withName: 'RUN_QUAST' {
        queue = 'normal'
        cpus = 8
        memory = '16 GB'
        time = '1h'
    }
}

    withName: 'RUN_UNICYCLER' {
        conda = '/home/lshlt19/miniforge3/envs/nf-unicycler'
        cpus = 8
        memory = '32 GB'
        time = '1h'
    }
    withName: 'RUN_QUAST' {
        conda = '/home/lshlt19/miniforge3/envs/nf-quast'
        cpus = 4
        memory = '8 GB'
        time = '30m'
    }
    withName: 'RUN_NEXUS' {
        // Esse processo é só um echo por enquanto, pode rodar super rápido
    cpus = 1
    memory = '1 GB'
    time = '5m'
    }
}